---
const today = new Date();
---

<footer>
	<small class="muted">© {today.getFullYear()} <a href="https://anil.computer/" target="_blank">anil.computer</a> · <a href="https://github.com/bridgpal" target="_blank">github</a></small>
</footer>

<style>
	footer {
		padding: 3rem 1rem 5rem;
		text-align: center;
	}
</style>
